
<mat-toolbar>Welcome To Registration Page</mat-toolbar>

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Enter First Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter Last Name">
        
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Email </mat-label>
        <input matInput placeholder="Enetr Email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Password </mat-label>
        <input matInput placeholder="password">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password </mat-label>
        <input matInput placeholder="Confirm Password">
      </mat-form-field>
      <br>
        
      <mat-checkbox>Check me!</mat-checkbox>
        <mat-checkbox>Action</mat-checkbox>
        <mat-checkbox  >Comdedy</mat-checkbox>
        <mat-checkbox >Horror</mat-checkbox>
        <mat-checkbox >Animation</mat-checkbox>
        <mat-checkbox >Drama</mat-checkbox>
        <mat-checkbox>Historical</mat-checkbox>
   

   <br>
      <button mat-button>Cancel</button>
      <button mat-button>Register</button>