
<mat-toolbar style="text-align: center">Welcome To Registration Page</mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" #registerForm="ngForm">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input  matInput  placeholder="First name" (ngModel) = "firstName" #firstName="ngModel" name="firstName"  required>
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                First Name is required
                </div>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input  matInput  placeholder="Last Name" (ngModel) = "lastName" #lastName="ngModel" name="lastName"  required>
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                 Last Name is required
                </div>
               </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" (ngModel) = "email" #email="ngModel"  name="email">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input  matInput  placeholder="Password" (ngModel) = "password" #password="ngModel"  name="password">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input  matInput  placeholder="Password"  name="confirmPassword">
             </mat-form-field>
         
      <!-- CONTENT HERE -->
   <mat-label><h3> Select the Genre</h3></mat-label> 
   <mat-label *ngFor="let g of Genre">
      <mat-checkbox value="{{g.id}}"></mat-checkbox>
         {{g.name}}
   </mat-label>
      <!-- <mat-checkbox>Action</mat-checkbox (change)="onCheckboxChange(g,$event)"><br>
      <mat-checkbox  >Comdedy</mat-checkbox><br>
      <mat-checkbox >Horror</mat-checkbox><br>
      <mat-checkbox >Animation</mat-checkbox><br>
      <mat-checkbox >Drama</mat-checkbox><br>
      <mat-checkbox>Historical</mat-checkbox><br> -->
</form>
    </mat-card-content>
    <mat-card-actions>
      <!-- REGISTER BUTTON -->
    </mat-card-actions>
    <button mat-stroked-button color="warn">Cancel</button>
    <button mat-stroked-button color ="primary" (click)="register(registerForm)">Register</button>
  
 </mat-card>
      