<mat-toolbar>Welcome To User Profile Page</mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input  matInput  placeholder="First name"  name="fname"  required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input  matInput  placeholder="Last Name" name="lname"  required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" name="email">
             </mat-form-field>
             
        </form> 
      <!-- CONTENT HERE -->
      <mat-label><h3> Select the Genre</h3></mat-label> 
   <mat-label *ngFor="let g of Genre ;let i = index">
      <mat-checkbox (ngModel) = "check" #check="ngModel"></mat-checkbox>
         {{Genre[i].name}}
   </mat-label>
      <!-- <mat-label><h3> Change the Genre </h3></mat-label> 
      <mat-checkbox>Action</mat-checkbox><br>
      <mat-checkbox  >Comdedy</mat-checkbox><br>
      <mat-checkbox >Horror</mat-checkbox><br>
      <mat-checkbox >Animation</mat-checkbox><br>
      <mat-checkbox >Drama</mat-checkbox><br>
      <mat-checkbox>Historical</mat-checkbox><br> -->
   
    </mat-card-content>
    <mat-card-actions>
      <!-- REGISTER BUTTON -->
    </mat-card-actions>
    <button mat-stroked-button color="cancel">Cancel</button>
    <button mat-stroked-button color="update">Update</button>
  
 </mat-card>
      