<mat-toolbar>Welcome To User Profile Page</mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
        <form class="my-form">
            <mat-label>First Name: {{userDetails?.firstName}}</mat-label><br>
            <mat-label>Last Name: {{userDetails?.lastName}}</mat-label><br>
            <mat-label>Email: {{userDetails?.email}}</mat-label><br>
                  
            <mat-label><h3> Change the Genre</h3></mat-label> 
            <mat-label *ngFor="let g of Genre">
               <mat-checkbox value="{{g.id}}" checked="{{g.checked}}"></mat-checkbox>
                  {{g.name}}
            </mat-label>
   
      </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <button mat-stroked-button [routerLink]="['/userprofile']" color="cancel">Cancel</button>
    <button mat-stroked-button color="update" (click)="updateGenre()">Update</button>
  
 </mat-card>
      