
 <mat-toolbar color="primary" > <!--add *ngIf="" -->
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/recommendation'"> Recommendation </a>
      <a mat-button [routerLink]="'/movies'"> Movies </a>
      <a *ngIf="token$ | async" mat-button [routerLink]="'/userprofile'"> User Profile </a> 
      <a *ngIf="token$ | async" mat-button (click)="logout()"> Logout </a>
      <!-- <a mat-button [routerLink]="'/userprofile'"> User Profile </a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

