
<mat-toolbar>Welcome To Login Page</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
       <form class="my-form">
           
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input  matInput  placeholder="Email" name="email">
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input  matInput  placeholder="Password"  name="password">
            </mat-form-field>
            
       </form> 
     <!-- CONTENT HERE -->
   
  
   </mat-card-content>
   <mat-card-actions>
     <!-- REGISTER BUTTON -->
   </mat-card-actions>
   <!-- <button mat-stroked-button color="cancel">Cancel</button> -->
   <button mat-stroked-button (click)="logIn()">Login</button>
   <button mat-stroked-button [routerLink]="['/register']" >Register</button>
 
</mat-card>
