
<mat-toolbar>Welcome To Login Page</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
       <form class="my-form">
           
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input matInput  placeholder="Email" [(ngModel)] = "email" #emailid="ngModel" name="email" required email>
               <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="alert alert-danger">
                  <div *ngIf="emailid.errors.required">
                   Email is required.
                  </div>
                  <div *ngIf="emailid.errors.email">
                   Enter valid email address.
                  </div>
               </div>
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input matInput [type]="hide ? 'password' : 'text'"  placeholder="Password" [(ngModel)] = "password" #pwd="ngModel"  name="password" required>
               <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               </button>
               <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                  <div *ngIf="pwd.errors.required">
                   Password is required.
                  </div>
               </div>
            </mat-form-field>
            
       </form> 
   
  
   </mat-card-content>
   <mat-card-actions>
   </mat-card-actions>
   <button mat-stroked-button (click)="logIn()">Login</button>
   <button mat-stroked-button [routerLink]="['/register']" >Register</button>
 
</mat-card>
