.movie-card {
    max-width: 600px;
    margin: 5%;
    background-color: grey;
  }
  
  .movie-header-image {
    background-image: url('/assets/images/annabelle.jpg');
    background-size: cover;
  }